body {
	margin: 0px;
	padding: 0px;
	font-family: arial, helvetica;
	background-color: #C595C7;
}


div {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
}


#header {
	background-color: #3D82CC;
	padding: 0px;
	margin: 0;
	height: 90px;
	border-radius: 0px 0px 45px 45px;
}
#header h1 {
	text-align: left;
	line-height: 45px;
	letter-spacing: 10px;
	text-transform: uppercase;
	float: left;
}
#header button {
	text-align: center;
	line-height: 45px;
	letter-spacing: 5px;
	text-transform: uppercase;
	float: left;
	border-radius: 45px;
	border-width: 0px;
	width: 90px;
	height: 90px;
	background-color: green;
	margin-right: 10px;
}
#header button:focus{
	outline:none;
}
#header button:active{
	background-color: red;
}
#header button:hover{
	background-color: blue;
}

#pauseCheck{
	text-align: center;
	line-height: 29px;
	letter-spacing: 5px;
	text-transform: uppercase;
	float: left;
	border-radius: 45px;
	border-width: 0px;
	width: 90px;
	height: 90px;
	background-color: green;
	margin-right: 10px;
	font-size: 15px;
}
#header label input {
	visibility: hidden;
}

#ocean {
	background-color: blue;
	width: 100%;
	height: 0;
	clear: both;
}
#ocean ul {
	list-style: none;
	padding-left: 0px;

}
#ocean ul li {
	margin: 20px;
	width: 100px;
	height: 100px;
	text-align: center;
	font-weight: bold;
	vertical-align: text-bottom;
	line-height: 100px;
	float: left;
	padding: 20px;
	background-color: #B1EB6A;
	border-radius: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
}
#ocean ul li:hover {
	background-color: green;
}

#ocean ul li a{
	color: black;
	letter-spacing: 5px;
}